body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(imagenes/Fondo-chill.jpg);
    background-size: cover;
}

.loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0,.8);
    loginBox-sizing: border-loginBox;
    loginBox-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}

.loginBox h2 {
    display: inline;
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    margin-left: 45%;
}


.loginBox .cruz {
    display: inline;
    text-align: center;
    margin: 0 0 30px;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
}


.loginBox .inputloginBox {
    position: relative;
}

.loginBox .inputloginBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px; 
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    
}

.loginBox .inputloginBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    pointer-events: none;
    transition: .5s;
}

.loginBox .inputloginBox input:focus ~ label,
.loginBox .inputloginBox input:valid ~ label 
{
    top: -18px;
    left: 0;
    color: #477187;
    font-size: 12px;
}

.loginBox input[type="submit"] {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
