@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:700';

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background-image: url(imagenes/Fondo-chill.jpg);
    background-repeat: no-repeat;
    display: table;
    top: 0;
    background-size: cover;
}

.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30%;

}

.content h1 {
    font-family: 'Yantramanav', sans-serif;
    font-size: 600%;
    font-weight: 100;
    color: #E1EFE9;
    line-height: 70%;
}


i {
    cursor: pointer;
    color: #FF0072;
}



/* -- Fuente para el parrafo de la Landing Page -- */

.text-faded {
    color: #fff;
    text-shadow: 0.5px 0.5px #477187;
    font-size: 1.2rem;
    margin-top: 2rem;
}


section p {
    font-family: 'Yantramanav', sans-serif;
    font-size: 600%;
    font-weight: 100;
    color: #E1EFE9;
    line-height: 150%;
    text-align: center;
}





/* -- Footer -- */

footer {

    padding: 10px;
    text-align: center;
    color: aliceblue;
    background-color: #464655;
    width: 100%;
    position: absolute;
    margin-bottom: 0px;
    bottom: 0px;
    font-family: 'Yantramanav', sans-serif;
    font-size: 120%;
}



/* ----------------------------------------- */

/* ------------- Caja de Login ------------- */

/* ----------------------------------------- */

#loginBox {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, .8);
    loginBox-sizing: border-loginBox;
    loginBox-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

#loginBox h2 {
    display: inline;
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    margin-left: 40%;
}

#loginBox a {
    display: inline;
    margin: 0 0 30px;
    padding: 0;
    color: #FF0072;
    text-align: center;
    margin-left: 20%;
    cursor: pointer;
}


#loginBox .cruz {
    display: inline;
    text-align: center;
    margin: 0 0 30px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1.5%;
    margin-top: 1.5%;
    color: white;
    cursor: pointer;
}


#loginBox .inputloginBox {
    position: relative;
}

#loginBox .inputloginBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;

}

#loginBox .inputloginBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    pointer-events: none;
    transition: .5s;
}

#loginBox .inputloginBox input:focus ~ label,
#loginBox .inputloginBox input:valid ~ label {
    top: -18px;
    left: 0;
    color: #477187;
    font-size: 12px;
}

#loginBox input[type="submit"] {
    display: inline;
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
    margin-left: 35%;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* ----------------------------------------- */

/* ----------------------------------------- */

/* --------------------------- Login ------- */

/* ----------------------------------------- */

/* ----------------------------------------- */

/* ---- Caja de Recuperar Pass ------------- */

/* ----------------------------------------- */

#RecuperarPass {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, .8);
    loginBox-sizing: border-loginBox;
    loginBox-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

#RecuperarPass h2 {
    display: inline;
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    margin-left: 40%;
}

#RecuperarPass h3 {
    color: #fff;
    margin-left: 8%;
}

#RecuperarPass form div p {
    display: inline;
    color: #FF0072;
    text-align: justify;
    font-size: 18px;
}


#RecuperarPass .cruz {
    display: inline;
    text-align: center;
    margin: 0 0 30px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1.5%;
    margin-top: 1.5%;
    color: white;
    cursor: pointer;
}


#RecuperarPass .inputRecuperarPass {
    position: relative;
}

#RecuperarPass .inputRecuperarPass input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;

}

#RecuperarPass .inputRecuperarPass label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    pointer-events: none;
    transition: .5s;
}

#RecuperarPass .inputRecuperarPass input:focus ~ label,
#RecuperarPass .inputRecuperarPass input:valid ~ label {
    top: -18px;
    left: 0;
    color: #477187;
    font-size: 12px;
}

#RecuperarPass input[type="submit"] {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 25%;
}

/* ----------------------------------------- */

/* ----------------------------------------- */

/* ------------------- RecuperarPass ------- */

/* ----------------------------------------- */

/*--- Media Queries --*/

@media screen and (min-width: 750px) {
    .content {
        padding-bottom: 28%;
        position: relative;
        border-radius: 43px 43px 43px 43px;
        -moz-border-radius: 43px 43px 43px 43px;
        -webkit-border-radius: 43px 43px 43px 43px;
        background-color: rgba(3, 36, 54, 0.5);
        padding: 2rem;
    }
    .content h1 {
        font-size: 450%;
    }
    .btn {
        font-size: 130%;
        padding: 9px 17px;
    }
}



@media screen and (max-width:749px) {
    .content {
        padding-bottom: 40%;

        position: relative;
        border-radius: 43px 43px 43px 43px;
        -moz-border-radius: 43px 43px 43px 43px;
        -webkit-border-radius: 43px 43px 43px 43px;
        background-color: rgba(3, 36, 54, 0.5);
        padding: 2rem;

        margin-left: 10%;
        margin-right: 10%;
    }
    .content h1 {
        font-size: 300%;
    }
    .btn {
        font-size: 110%;
        padding: 9px 17px;
    }
}

@media screen and (max-width: 480px) {
    .content {
        padding-bottom: 50%;
    }
    .content h1 {
        font-size: 250%;
    }
    .btn {
        font-size: 110%;
        padding: 6px 14px;
    }
}
